USE [nestmart]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 10/2/2025 3:35:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[PhoneNumber] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Role] [int] NOT NULL,
	[Gender] [nvarchar](50) NULL,
	[FullName] [nvarchar](255) NULL,
	[Birthday] [date] NULL,
	[Address] [nvarchar](600) NULL,
	[HourlyRate] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountVouchers]    Script Date: 10/2/2025 3:35:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountVouchers](
	[AccountVoucherID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NOT NULL,
	[VoucherID] [int] NOT NULL,
	[IsUsed] [bit] NULL,
	[AssignedDate] [datetime] NULL,
	[ExpiryDate] [datetime] NULL,
	[OrderID] [varchar](20) NULL,
 CONSTRAINT [PK__AccountV__D05F1B21A529953A] PRIMARY KEY CLUSTERED 
(
	[AccountVoucherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 10/2/2025 3:35:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[BrandID] [int] IDENTITY(1,1) NOT NULL,
	[BrandName] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[BrandID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 10/2/2025 3:35:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryDetails]    Script Date: 10/2/2025 3:35:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryDetails](
	[CategoryDetailID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NULL,
	[ProductID] [nvarchar](50) NULL,
	[AttributeName] [nvarchar](255) NOT NULL,
	[AttributeValue] [nvarchar](1000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DayOfWeek]    Script Date: 10/2/2025 3:35:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DayOfWeek](
	[DayID] [int] IDENTITY(1,1) NOT NULL,
	[DayName] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discounts]    Script Date: 10/2/2025 3:35:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discounts](
	[DiscountID] [int] IDENTITY(1,1) NOT NULL,
	[DiscountName] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[Image] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[DiscountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeResponse]    Script Date: 10/2/2025 3:35:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeResponse](
	[ResponseID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[FeedbackID] [int] NULL,
	[ResponseContent] [nvarchar](255) NOT NULL,
	[ResponseDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ResponseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 10/2/2025 3:35:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [nvarchar](50) NULL,
	[CustomerID] [int] NULL,
	[Rating] [tinyint] NOT NULL,
	[FeedbackContent] [nvarchar](255) NULL,
	[FeedbackDate] [datetime] NOT NULL,
 CONSTRAINT [PK__Feedback__6A4BEDF65460F928] PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeedbackImage]    Script Date: 10/2/2025 3:35:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeedbackImage](
	[FeedbackImageID] [int] IDENTITY(1,1) NOT NULL,
	[FeedbackID] [int] NULL,
	[Image] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 10/2/2025 3:35:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[ProductID] [nvarchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[LastUpdated] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 10/2/2025 3:35:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[EmployeeID] [int] NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Message] [nvarchar](500) NOT NULL,
	[SendDate] [datetime] NOT NULL,
	[NotificationType] [nvarchar](255) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Offers]    Script Date: 10/2/2025 3:35:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Offers](
	[OfferID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [nvarchar](50) NULL,
	[DiscountID] [int] NULL,
	[OfferName] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[DiscountType] [nvarchar](100) NULL,
	[DiscountValue] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OfferID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 10/2/2025 3:35:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [varchar](20) NOT NULL,
	[ProductID] [nvarchar](50) NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
	[TotalPrice] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 10/2/2025 3:35:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [varchar](20) NOT NULL,
	[CustomerID] [int] NULL,
	[ShipperID] [int] NULL,
	[OrderDate] [datetime] NOT NULL,
	[OrderStatus] [nvarchar](50) NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
	[PaymentMethod] [nvarchar](255) NOT NULL,
	[ShippingAddress] [nvarchar](1000) NOT NULL,
	[TransactionDate] [datetime] NULL,
	[TransactionStatus] [nvarchar](50) NULL,
	[TransactionDescription] [nvarchar](1000) NULL,
	[ReturnRequestDate] [datetime] NULL,
	[ReturnRequestStatus] [nvarchar](50) NULL,
	[ReturnRequestReason] [nvarchar](1000) NULL,
	[CancelReason] [nvarchar](1000) NULL,
	[DeliveryDate] [date] NULL,
	[Notes] [nvarchar](1000) NULL,
	[Name] [nvarchar](255) NULL,
	[Phone] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImage]    Script Date: 10/2/2025 3:35:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImage](
	[ProductImageID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [nvarchar](50) NULL,
	[Image] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 10/2/2025 3:35:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [nvarchar](50) NOT NULL,
	[CategoryID] [int] NULL,
	[BrandID] [int] NULL,
	[ProductName] [nvarchar](255) NOT NULL,
	[ProductDescription] [nvarchar](1000) NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[DateAdded] [datetime] NOT NULL,
	[Discount] [decimal](10, 2) NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK__Products__B40CC6ED86EF63C1] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReturnRequestResponse]    Script Date: 10/2/2025 3:35:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReturnRequestResponse](
	[ReturnRequestResponseID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [varchar](20) NOT NULL,
	[EmployeeID] [int] NULL,
	[ReturnRequestResponseDate] [datetime] NOT NULL,
	[Message] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReturnRequestResponseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salary]    Script Date: 10/2/2025 3:35:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salary](
	[SalaryID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NULL,
	[WeekScheduleID] [int] NULL,
	[ShiftID] [int] NULL,
	[SalaryPaymentDate] [datetime] NULL,
	[TotalHours] [decimal](10, 2) NOT NULL,
	[HourlyRate] [decimal](10, 2) NOT NULL,
	[TotalSalary] [decimal](10, 2) NOT NULL,
	[status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SalaryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shift]    Script Date: 10/2/2025 3:35:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shift](
	[ShiftID] [int] IDENTITY(1,1) NOT NULL,
	[ShiftName] [nvarchar](255) NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ShiftID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Support]    Script Date: 10/2/2025 3:35:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Support](
	[SupportID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[EmployeeID] [int] NULL,
	[Message] [nvarchar](255) NOT NULL,
	[Status] [nvarchar](255) NULL,
	[SendDate] [datetime] NOT NULL,
 CONSTRAINT [PK__Support__D82DBC6C42C6F21B] PRIMARY KEY CLUSTERED 
(
	[SupportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vouchers]    Script Date: 10/2/2025 3:35:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vouchers](
	[VoucherID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[DiscountType] [nvarchar](20) NOT NULL,
	[DiscountValue] [decimal](10, 2) NOT NULL,
	[MinOrderValue] [decimal](10, 2) NULL,
	[MaxDiscount] [decimal](10, 2) NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[UsageLimit] [int] NULL,
	[UsedCount] [int] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK__Vouchers__3AEE79C12B4230B6] PRIMARY KEY CLUSTERED 
(
	[VoucherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WeekDetails]    Script Date: 10/2/2025 3:35:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WeekDetails](
	[WeekDetailID] [int] IDENTITY(1,1) NOT NULL,
	[WeekScheduleID] [int] NULL,
	[EmployeeID] [int] NULL,
	[DayID] [int] NULL,
	[ShiftID] [int] NULL,
	[OvertimeHours] [decimal](5, 2) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[IsUpdated] [tinyint] NOT NULL,
	[UpdateDate] [date] NULL,
	[Notes] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[WeekDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WeekSchedule]    Script Date: 10/2/2025 3:35:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WeekSchedule](
	[WeekScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[WeekStartDate] [date] NOT NULL,
	[WeekEndDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WeekScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([AccountID], [PhoneNumber], [Password], [Email], [Role], [Gender], [FullName], [Birthday], [Address], [HourlyRate]) VALUES (1, N'0909990009', N'$2a$10$LH/22SPr9wKFcDLHknnaS.qb.zxtu2YyCx6qvXuS7mi46Pm.geRhq', N'nhviet@gmail.com', 1, N'Male', N'Nguyen Hoang Viet', CAST(N'1892-01-01' AS Date), N'Can Tho', CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[Accounts] ([AccountID], [PhoneNumber], [Password], [Email], [Role], [Gender], [FullName], [Birthday], [Address], [HourlyRate]) VALUES (2, N'0986529566', N'$2a$10$LH/22SPr9wKFcDLHknnaS.qb.zxtu2YyCx6qvXuS7mi46Pm.geRhq', N'nny@gmail.com', 2, N'Male', N'Nguyen Ngoc Y', CAST(N'1999-03-09' AS Date), N'Can Thor', CAST(20.00 AS Decimal(10, 2)))
INSERT [dbo].[Accounts] ([AccountID], [PhoneNumber], [Password], [Email], [Role], [Gender], [FullName], [Birthday], [Address], [HourlyRate]) VALUES (3, N'0879999654', N'$2a$10$LH/22SPr9wKFcDLHknnaS.qb.zxtu2YyCx6qvXuS7mi46Pm.geRhq', N'nngbao@gmail.com', 3, N'Female', N'Nguyen Ngoc Gia Bao', CAST(N'2009-01-01' AS Date), N'Can Tho', CAST(23.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[AccountVouchers] ON 

INSERT [dbo].[AccountVouchers] ([AccountVoucherID], [AccountID], [VoucherID], [IsUsed], [AssignedDate], [ExpiryDate], [OrderID]) VALUES (1, 19, 40, 1, CAST(N'2025-09-17T18:57:10.023' AS DateTime), NULL, N'ORD4BX8JJEV')
INSERT [dbo].[AccountVouchers] ([AccountVoucherID], [AccountID], [VoucherID], [IsUsed], [AssignedDate], [ExpiryDate], [OrderID]) VALUES (2, 4, 67, 1, CAST(N'2025-09-20T17:17:17.367' AS DateTime), NULL, N'ORDYC74L3NZ')
INSERT [dbo].[AccountVouchers] ([AccountVoucherID], [AccountID], [VoucherID], [IsUsed], [AssignedDate], [ExpiryDate], [OrderID]) VALUES (3, 19, 65, 1, CAST(N'2025-09-20T19:07:05.460' AS DateTime), NULL, N'ORD4DWXBLYP')
SET IDENTITY_INSERT [dbo].[AccountVouchers] OFF
GO
SET IDENTITY_INSERT [dbo].[Brands] ON 

INSERT [dbo].[Brands] ([BrandID], [BrandName], [Description]) VALUES (1, N'FreshHarvest', N'Providing fresh and organic farm products')
INSERT [dbo].[Brands] ([BrandID], [BrandName], [Description]) VALUES (2, N'GreenLeaf', N'High-quality vegetables and herbs supplier')
INSERT [dbo].[Brands] ([BrandID], [BrandName], [Description]) VALUES (3, N'SweetBites', N'Delicious cakes and bakery goods')
SET IDENTITY_INSERT [dbo].[Brands] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (1, N'Fruit', N'ád')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (2, N'Vegetable', N'')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (3, N'Cake', N'')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[CategoryDetails] ON 

INSERT [dbo].[CategoryDetails] ([CategoryDetailID], [CategoryID], [ProductID], [AttributeName], [AttributeValue]) VALUES (1, 1, N'FR001', N'Origin', N'USA')
INSERT [dbo].[CategoryDetails] ([CategoryDetailID], [CategoryID], [ProductID], [AttributeName], [AttributeValue]) VALUES (2, 1, N'FR001', N'Weight', N'150g per apple')
INSERT [dbo].[CategoryDetails] ([CategoryDetailID], [CategoryID], [ProductID], [AttributeName], [AttributeValue]) VALUES (3, 1, N'FR001', N'Taste', N'Sweet and crisp')
GO
SET IDENTITY_INSERT [dbo].[CategoryDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[DayOfWeek] ON 

INSERT [dbo].[DayOfWeek] ([DayID], [DayName]) VALUES (1, N'Monday')
INSERT [dbo].[DayOfWeek] ([DayID], [DayName]) VALUES (2, N'Tuesday')
INSERT [dbo].[DayOfWeek] ([DayID], [DayName]) VALUES (3, N'Wednesday')
SET IDENTITY_INSERT [dbo].[DayOfWeek] OFF
GO
SET IDENTITY_INSERT [dbo].[Discounts] ON 

INSERT [dbo].[Discounts] ([DiscountID], [DiscountName], [Description], [StartDate], [EndDate], [Image]) VALUES (1, N'xsaxsa', N'sxaas', CAST(N'2025-09-22T18:05:00.000' AS DateTime), CAST(N'2025-09-23T18:05:00.000' AS DateTime), N'kiwisale.png')
SET IDENTITY_INSERT [dbo].[Discounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([FeedbackID], [ProductID], [CustomerID], [Rating], [FeedbackContent], [FeedbackDate]) VALUES (1, N'DR003', 19, 3, N'binh thuong', CAST(N'2025-09-20T19:56:32.853' AS DateTime))
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[FeedbackImage] ON 

INSERT [dbo].[FeedbackImage] ([FeedbackImageID], [FeedbackID], [Image]) VALUES (1, 1, N'f05be13a-7cc5-4f75-8147-d87ca1784667.jpg')
SET IDENTITY_INSERT [dbo].[FeedbackImage] OFF
GO
SET IDENTITY_INSERT [dbo].[Offers] ON 

INSERT [dbo].[Offers] ([OfferID], [ProductID], [DiscountID], [OfferName], [Description], [DiscountType], [DiscountValue]) VALUES (1, N'FR001', 1, N'ggg', N'dqw', N'Discount of money', 1)
SET IDENTITY_INSERT [dbo].[Offers] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [UnitPrice], [TotalPrice]) VALUES (1, N'ORD4BX8JJEV', N'DR002', 2, CAST(3.00 AS Decimal(10, 2)), CAST(6.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [UnitPrice], [TotalPrice]) VALUES (2, N'ORDAVBGTCLI', N'CO001', 4, CAST(3.50 AS Decimal(10, 2)), CAST(14.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [UnitPrice], [TotalPrice]) VALUES (3, N'ORDAVBGTCLI', N'EG001', 2, CAST(4.00 AS Decimal(10, 2)), CAST(8.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [ShipperID], [OrderDate], [OrderStatus], [TotalAmount], [PaymentMethod], [ShippingAddress], [TransactionDate], [TransactionStatus], [TransactionDescription], [ReturnRequestDate], [ReturnRequestStatus], [ReturnRequestReason], [CancelReason], [DeliveryDate], [Notes], [Name], [Phone]) VALUES (N'ORD4BX8JJEV', 19, 7, CAST(N'2025-09-17T18:57:09.750' AS DateTime), N'Pending', CAST(10.40 AS Decimal(10, 2)), N'Cash on Delivery', N'Can Tho', NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2025-09-20' AS Date), N'', N'La Thi Mongg', N'0988717565')
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [ShipperID], [OrderDate], [OrderStatus], [TotalAmount], [PaymentMethod], [ShippingAddress], [TransactionDate], [TransactionStatus], [TransactionDescription], [ReturnRequestDate], [ReturnRequestStatus], [ReturnRequestReason], [CancelReason], [DeliveryDate], [Notes], [Name], [Phone]) VALUES (N'ORD4DWXBLYP', 19, NULL, CAST(N'2025-09-20T19:07:05.303' AS DateTime), N'Pending', CAST(10.20 AS Decimal(10, 2)), N'Cash on Delivery', N'Can Tho', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'', N'La Thi Mongg', N'0988717565')
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [ShipperID], [OrderDate], [OrderStatus], [TotalAmount], [PaymentMethod], [ShippingAddress], [TransactionDate], [TransactionStatus], [TransactionDescription], [ReturnRequestDate], [ReturnRequestStatus], [ReturnRequestReason], [CancelReason], [DeliveryDate], [Notes], [Name], [Phone]) VALUES (N'ORDAVBGTCLI', 19, 3, CAST(N'2025-09-20T15:06:36.113' AS DateTime), N'Pending', CAST(27.00 AS Decimal(10, 2)), N'Bank transfer', N'Can Tho', NULL, N'Completed', NULL, NULL, NULL, NULL, NULL, NULL, N'', N'La Thi Mongg', N'0988717565')
GO
SET IDENTITY_INSERT [dbo].[ProductImage] ON 

INSERT [dbo].[ProductImage] ([ProductImageID], [ProductID], [Image]) VALUES (2, N'CA001', N'Chocolate Cake.png')
INSERT [dbo].[ProductImage] ([ProductImageID], [ProductID], [Image]) VALUES (3, N'CA001', N'Chocolate Cake (2).png')
INSERT [dbo].[ProductImage] ([ProductImageID], [ProductID], [Image]) VALUES (4, N'CA001', N'Chocolate Cake (3).png')
SET IDENTITY_INSERT [dbo].[ProductImage] OFF
GO
INSERT [dbo].[Products] ([ProductID], [CategoryID], [BrandID], [ProductName], [ProductDescription], [UnitPrice], [DateAdded], [Discount], [Quantity]) VALUES (N'CA001', 3, 3, N'Chocolate Cake', N'Rich and moist layered chocolate cake made with premium cocoa, offering an indulgent taste for celebrations and family gatherings.', CAST(15.00 AS Decimal(18, 2)), CAST(N'2025-09-17T17:00:55.267' AS DateTime), CAST(0.00 AS Decimal(10, 2)), 27)
INSERT [dbo].[Products] ([ProductID], [CategoryID], [BrandID], [ProductName], [ProductDescription], [UnitPrice], [DateAdded], [Discount], [Quantity]) VALUES (N'CA002', 3, 3, N'Cheesecake', N'Creamy New York-style cheesecake with a buttery crust, a perfect balance of sweetness and tanginess for dessert lovers.', CAST(18.00 AS Decimal(18, 2)), CAST(N'2025-09-17T17:00:55.267' AS DateTime), CAST(0.00 AS Decimal(10, 2)), 30)
INSERT [dbo].[Products] ([ProductID], [CategoryID], [BrandID], [ProductName], [ProductDescription], [UnitPrice], [DateAdded], [Discount], [Quantity]) VALUES (N'CA003', 3, 3, N'Cupcake Mix', N'A delightful mix of assorted cupcakes topped with colorful frosting, ideal for parties, snacks, or tea time.', CAST(12.00 AS Decimal(18, 2)), CAST(N'2025-09-17T17:00:55.267' AS DateTime), CAST(0.00 AS Decimal(10, 2)), 30)
GO
SET IDENTITY_INSERT [dbo].[Shift] ON 

INSERT [dbo].[Shift] ([ShiftID], [ShiftName], [StartTime], [EndTime], [Description]) VALUES (1, N'Morning shift', CAST(N'08:00:00' AS Time), CAST(N'13:00:00' AS Time), N'')
INSERT [dbo].[Shift] ([ShiftID], [ShiftName], [StartTime], [EndTime], [Description]) VALUES (2, N'Noon shift', CAST(N'13:00:00' AS Time), CAST(N'17:00:00' AS Time), N'')
INSERT [dbo].[Shift] ([ShiftID], [ShiftName], [StartTime], [EndTime], [Description]) VALUES (3, N'Evening shift', CAST(N'17:00:00' AS Time), CAST(N'22:00:00' AS Time), N'')
SET IDENTITY_INSERT [dbo].[Shift] OFF
GO
SET IDENTITY_INSERT [dbo].[Support] ON 

INSERT [dbo].[Support] ([SupportID], [CustomerID], [EmployeeID], [Message], [Status], [SendDate]) VALUES (1, 19, NULL, N'fff', N'New', CAST(N'2025-09-20T20:25:25.970' AS DateTime))
INSERT [dbo].[Support] ([SupportID], [CustomerID], [EmployeeID], [Message], [Status], [SendDate]) VALUES (2, 19, NULL, N'gh', N'New', CAST(N'2025-09-20T20:25:29.293' AS DateTime))
INSERT [dbo].[Support] ([SupportID], [CustomerID], [EmployeeID], [Message], [Status], [SendDate]) VALUES (3, 19, 6, N'may thi biet ccj', N'Sent', CAST(N'2025-09-20T20:26:24.753' AS DateTime))
SET IDENTITY_INSERT [dbo].[Support] OFF
GO
SET IDENTITY_INSERT [dbo].[Vouchers] ON 

INSERT [dbo].[Vouchers] ([VoucherID], [Code], [DiscountType], [DiscountValue], [MinOrderValue], [MaxDiscount], [StartDate], [EndDate], [UsageLimit], [UsedCount], [Status]) VALUES (40, N'V001', N'Percentage', CAST(10.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(50.00 AS Decimal(10, 2)), CAST(N'2025-09-08T00:00:00.000' AS DateTime), CAST(N'2025-09-18T00:00:00.000' AS DateTime), 100, 2, 1)
INSERT [dbo].[Vouchers] ([VoucherID], [Code], [DiscountType], [DiscountValue], [MinOrderValue], [MaxDiscount], [StartDate], [EndDate], [UsageLimit], [UsedCount], [Status]) VALUES (41, N'V002', N'FixedAmount', CAST(20.00 AS Decimal(10, 2)), CAST(100.00 AS Decimal(10, 2)), CAST(20.00 AS Decimal(10, 2)), CAST(N'2025-09-08T00:00:00.000' AS DateTime), CAST(N'2025-09-18T00:00:00.000' AS DateTime), 100, 0, 1)
INSERT [dbo].[Vouchers] ([VoucherID], [Code], [DiscountType], [DiscountValue], [MinOrderValue], [MaxDiscount], [StartDate], [EndDate], [UsageLimit], [UsedCount], [Status]) VALUES (42, N'V003', N'Percentage', CAST(15.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(30.00 AS Decimal(10, 2)), CAST(N'2025-09-08T00:00:00.000' AS DateTime), CAST(N'2025-09-18T00:00:00.000' AS DateTime), 100, 0, 1)
SET IDENTITY_INSERT [dbo].[Vouchers] OFF
GO
SET IDENTITY_INSERT [dbo].[WeekDetails] ON 

INSERT [dbo].[WeekDetails] ([WeekDetailID], [WeekScheduleID], [EmployeeID], [DayID], [ShiftID], [OvertimeHours], [Status], [IsUpdated], [UpdateDate], [Notes]) VALUES (1, 1, 7, 3, 3, CAST(0.00 AS Decimal(5, 2)), N'Schedule', 0, NULL, NULL)
INSERT [dbo].[WeekDetails] ([WeekDetailID], [WeekScheduleID], [EmployeeID], [DayID], [ShiftID], [OvertimeHours], [Status], [IsUpdated], [UpdateDate], [Notes]) VALUES (2, 2, 7, 6, 3, CAST(0.00 AS Decimal(5, 2)), N'Schedule', 0, NULL, NULL)
INSERT [dbo].[WeekDetails] ([WeekDetailID], [WeekScheduleID], [EmployeeID], [DayID], [ShiftID], [OvertimeHours], [Status], [IsUpdated], [UpdateDate], [Notes]) VALUES (3, 2, 3, 6, 2, CAST(0.00 AS Decimal(5, 2)), N'Schedule', 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[WeekDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[WeekSchedule] ON 

INSERT [dbo].[WeekSchedule] ([WeekScheduleID], [WeekStartDate], [WeekEndDate]) VALUES (1, CAST(N'2025-09-01' AS Date), CAST(N'2025-09-07' AS Date))
INSERT [dbo].[WeekSchedule] ([WeekScheduleID], [WeekStartDate], [WeekEndDate]) VALUES (2, CAST(N'2025-09-19' AS Date), CAST(N'2025-09-25' AS Date))
SET IDENTITY_INSERT [dbo].[WeekSchedule] OFF
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT (NULL) FOR [Gender]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT (NULL) FOR [FullName]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT (NULL) FOR [Birthday]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT (NULL) FOR [Address]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT (NULL) FOR [HourlyRate]
GO
ALTER TABLE [dbo].[AccountVouchers] ADD  CONSTRAINT [DF__AccountVo__IsUse__5E8A0973]  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [dbo].[AccountVouchers] ADD  CONSTRAINT [DF__AccountVo__Assig__5F7E2DAC]  DEFAULT (getdate()) FOR [AssignedDate]
GO
ALTER TABLE [dbo].[Brands] ADD  DEFAULT (NULL) FOR [Description]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (NULL) FOR [Description]
GO
ALTER TABLE [dbo].[Discounts] ADD  DEFAULT (NULL) FOR [Image]
GO
ALTER TABLE [dbo].[Offers] ADD  DEFAULT (NULL) FOR [DiscountType]
GO
ALTER TABLE [dbo].[Offers] ADD  DEFAULT (NULL) FOR [DiscountValue]
GO
ALTER TABLE [dbo].[ProductImage] ADD  DEFAULT (NULL) FOR [Image]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF__Products__Discou__32E0915F]  DEFAULT (NULL) FOR [Discount]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF__Products__Quanti__2739D489]  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Salary] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[Shift] ADD  DEFAULT (NULL) FOR [Description]
GO
ALTER TABLE [dbo].[Support] ADD  CONSTRAINT [DF__Support__Status__6E01572D]  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Vouchers] ADD  CONSTRAINT [DF__Vouchers__UsedCo__5AB9788F]  DEFAULT ((0)) FOR [UsedCount]
GO
ALTER TABLE [dbo].[Vouchers] ADD  CONSTRAINT [DF__Vouchers__Status__5BAD9CC8]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[WeekDetails] ADD  DEFAULT ((0)) FOR [OvertimeHours]
GO
ALTER TABLE [dbo].[WeekDetails] ADD  DEFAULT ('Schedule') FOR [Status]
GO
ALTER TABLE [dbo].[WeekDetails] ADD  DEFAULT ((0)) FOR [IsUpdated]
GO
ALTER TABLE [dbo].[WeekDetails] ADD  DEFAULT (NULL) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[WeekDetails] ADD  DEFAULT (NULL) FOR [Notes]
GO
ALTER TABLE [dbo].[AccountVouchers]  WITH CHECK ADD  CONSTRAINT [FK__AccountVo__Accou__607251E5] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[AccountVouchers] CHECK CONSTRAINT [FK__AccountVo__Accou__607251E5]
GO
ALTER TABLE [dbo].[AccountVouchers]  WITH CHECK ADD  CONSTRAINT [FK__AccountVo__Vouch__6166761E] FOREIGN KEY([VoucherID])
REFERENCES [dbo].[Vouchers] ([VoucherID])
GO
ALTER TABLE [dbo].[AccountVouchers] CHECK CONSTRAINT [FK__AccountVo__Vouch__6166761E]
GO
ALTER TABLE [dbo].[AccountVouchers]  WITH CHECK ADD  CONSTRAINT [FK_AccountVouchers_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[AccountVouchers] CHECK CONSTRAINT [FK_AccountVouchers_Orders]
GO
ALTER TABLE [dbo].[CategoryDetails]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[CategoryDetails]  WITH CHECK ADD  CONSTRAINT [FK__CategoryD__Produ__3D5E1FD2] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[CategoryDetails] CHECK CONSTRAINT [FK__CategoryD__Produ__3D5E1FD2]
GO
ALTER TABLE [dbo].[EmployeeResponse]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[EmployeeResponse]  WITH CHECK ADD  CONSTRAINT [FK__EmployeeR__Feedb__656C112C] FOREIGN KEY([FeedbackID])
REFERENCES [dbo].[Feedback] ([FeedbackID])
GO
ALTER TABLE [dbo].[EmployeeResponse] CHECK CONSTRAINT [FK__EmployeeR__Feedb__656C112C]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK__Feedback__Custom__60A75C0F] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK__Feedback__Custom__60A75C0F]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK__Feedback__Produc__5FB337D6] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK__Feedback__Produc__5FB337D6]
GO
ALTER TABLE [dbo].[FeedbackImage]  WITH CHECK ADD  CONSTRAINT [FK__FeedbackI__Feedb__2B0A656D] FOREIGN KEY([FeedbackID])
REFERENCES [dbo].[Feedback] ([FeedbackID])
GO
ALTER TABLE [dbo].[FeedbackImage] CHECK CONSTRAINT [FK__FeedbackI__Feedb__2B0A656D]
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD  CONSTRAINT [FK__Inventory__Produ__398D8EEE] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Inventory] CHECK CONSTRAINT [FK__Inventory__Produ__398D8EEE]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[Offers]  WITH CHECK ADD FOREIGN KEY([DiscountID])
REFERENCES [dbo].[Discounts] ([DiscountID])
GO
ALTER TABLE [dbo].[Offers]  WITH CHECK ADD  CONSTRAINT [FK__Offers__ProductI__4316F928] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Offers] CHECK CONSTRAINT [FK__Offers__ProductI__4316F928]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK__OrderDeta__Produ__5CD6CB2B] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK__OrderDeta__Produ__5CD6CB2B]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_OrdersNew] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_OrdersNew]
GO
ALTER TABLE [dbo].[ProductImage]  WITH CHECK ADD  CONSTRAINT [FK__ProductIm__Produ__35BCFE0A] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[ProductImage] CHECK CONSTRAINT [FK__ProductIm__Produ__35BCFE0A]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK__Products__BrandI__31EC6D26] FOREIGN KEY([BrandID])
REFERENCES [dbo].[Brands] ([BrandID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK__Products__BrandI__31EC6D26]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK__Products__Catego__30F848ED] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK__Products__Catego__30F848ED]
GO
ALTER TABLE [dbo].[ReturnRequestResponse]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[ReturnRequestResponse]  WITH CHECK ADD  CONSTRAINT [FK_ReturnRequest_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[ReturnRequestResponse] CHECK CONSTRAINT [FK_ReturnRequest_Orders]
GO
ALTER TABLE [dbo].[Salary]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[Salary]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[Salary]  WITH CHECK ADD FOREIGN KEY([ShiftID])
REFERENCES [dbo].[Shift] ([ShiftID])
GO
ALTER TABLE [dbo].[Salary]  WITH CHECK ADD FOREIGN KEY([ShiftID])
REFERENCES [dbo].[Shift] ([ShiftID])
GO
ALTER TABLE [dbo].[Salary]  WITH CHECK ADD FOREIGN KEY([WeekScheduleID])
REFERENCES [dbo].[WeekSchedule] ([WeekScheduleID])
GO
ALTER TABLE [dbo].[Salary]  WITH CHECK ADD FOREIGN KEY([WeekScheduleID])
REFERENCES [dbo].[WeekSchedule] ([WeekScheduleID])
GO
ALTER TABLE [dbo].[Support]  WITH CHECK ADD  CONSTRAINT [FK__Support__Custome__6C190EBB] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[Support] CHECK CONSTRAINT [FK__Support__Custome__6C190EBB]
GO
ALTER TABLE [dbo].[Support]  WITH CHECK ADD  CONSTRAINT [FK__Support__Employe__6D0D32F4] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[Support] CHECK CONSTRAINT [FK__Support__Employe__6D0D32F4]
GO
ALTER TABLE [dbo].[WeekDetails]  WITH CHECK ADD FOREIGN KEY([DayID])
REFERENCES [dbo].[DayOfWeek] ([DayID])
GO
ALTER TABLE [dbo].[WeekDetails]  WITH CHECK ADD FOREIGN KEY([DayID])
REFERENCES [dbo].[DayOfWeek] ([DayID])
GO
ALTER TABLE [dbo].[WeekDetails]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[WeekDetails]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[WeekDetails]  WITH CHECK ADD FOREIGN KEY([ShiftID])
REFERENCES [dbo].[Shift] ([ShiftID])
GO
ALTER TABLE [dbo].[WeekDetails]  WITH CHECK ADD FOREIGN KEY([ShiftID])
REFERENCES [dbo].[Shift] ([ShiftID])
GO
ALTER TABLE [dbo].[WeekDetails]  WITH CHECK ADD FOREIGN KEY([WeekScheduleID])
REFERENCES [dbo].[WeekSchedule] ([WeekScheduleID])
GO
ALTER TABLE [dbo].[WeekDetails]  WITH CHECK ADD FOREIGN KEY([WeekScheduleID])
REFERENCES [dbo].[WeekSchedule] ([WeekScheduleID])
GO
